<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<style>
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>
<body>

<div class="sidenav">
    {% for item in projects %}
    <a href="{{request.path}}{{item.project_name}}">{{item.project_name}}</a>
    {% endfor %}
</div>

<script>
  /**
  In the future may want to update ALL datarefs at once.
  OR at least provide the option.  For now though this is fine.

  //TODO: 1) Add a parameter for seconds to update    DONE
          2) Add a graph view.                        DONE
          3) Add ability to switch between projects   IN_PROGRESS
          4) Add appropriate constants                IN_PROGRESS
  **/

  //Update every ten seconds.
  var SECONDS_TO_UPDATE = 10 * 1000;
  var GET_DATA_REF_URL = "{{request.path}}api/get_dataref";
  google.charts.load('current', {'packages':['line']});

  //Keeps track of each chart present in project view.
  var global_charts = {}

  //Create functions to call here
  function update_data_ref(data_ref_name, data_ref_project){
    //Perform AJAX here to query the application.
    console.log(data_ref_name);
    console.log(data_ref_project);
    $.ajax({
      type: 'GET',
      url: GET_DATA_REF_URL,
      data: {data_ref_name: data_ref_name, data_ref_project: data_ref_project},
      dataType: 'json',
      success: function (dat) {
        //
        var d = dat;
        var element = document.getElementById(data_ref_name);

        console.log(d['type_of_display'])
        //If you just want the raw data
        if (d['type_of_display'] == "Raw_Display"){
          console.log("Raw data display")
          //HTML for just simple text.  Can possibly configure this later.
          var newHtml = '<h5 class="card-title">' + 
                        data_ref_name + 
                        '</h5>' +'<p class="card-text">'+ 
                        d['dataref']['data_val'] +'</p>';
          //Set inner html to card.
          element.innerHTML = newHtml;
        //Else a simple chart view
        } else { 

          console.log('Graph data display');

          //Format data appropriately.
          var data_arr = [];
          var count = 1;
          d['dataref']['data_val'].forEach(element => {
            data_arr.push([count, element]);
            count += 1;
          });

          //Create new data table for chart.
          var data = new google.visualization.DataTable();
          data.addColumn('number', 'Index');
          data.addColumn('number', '');
          data.addRows(data_arr);

          //Parameters for chart
          var options = {
            chart: {
              title: data_ref_name,
              subtitle: ''
            },
            width: '100%'
          };

          //Change class to card-img-top
          document.getElementById(data_ref_name).className = 'card-img-top';
          
          //Create null chart object to then find.
          var chart = null;

          //If chart already exists then grab it.
          if (data_ref_name in global_charts) {
            chart = global_charts[data_ref_name];
          //Else if chart does not exist create it.
          } else {
            chart = new google.charts.Line(document.getElementById(data_ref_name));
            global_charts[data_ref_name] = chart;
          }

          //Draw chart data to display.
          chart.draw(data, google.charts.Line.convertOptions(options));

        }
      }
    });
    console.log(" ")
  }
</script>

<div class="main">
        <div class="card-columns">
            {% for item in data_refs %}
              <div class="card">
                <div class="card-body" id="{{item.data_ref_name}}">
                </div>
              </div>

              <script>
                //Update the datarefs but wait for content to load.
                setTimeout(update_data_ref, 500, "{{item.data_ref_name}}", "{{item.data_ref_project.project_name}}")
                //Timer to update datarefs (Based on refresh_time field).
                setInterval(update_data_ref, parseInt("{{item.refresh_time}}")*1000, "{{item.data_ref_name}}", "{{item.data_ref_project.project_name}}")
              </script>
            {% endfor %}
        </div>
</div>
   
</body>
</html> 